<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <!-- <div class="card shadow">
                <div class="card-body"> -->
            <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <!-- This makes use of pure text HTML to convey array/object info -->
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good.
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="image" name="image" multiple>
                        <label class="input-group-text" for="image">Add Photos</label>
                        <div class="valid-feedback">
                            Looks good.
                        </div>
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        Looks good.
                    </div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">€</span>
                        <input type="number" class="form-control" id="price" placeholder="0.00" name="campground[price]"
                            aria-label="price" aria-describedby="price-label" required>
                        <div class="valid-feedback">
                            Looks good.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good.
                    </div>
                </div>
                <button class="mb-3 btn btn-success">Add Campground</button>
            </form>
            <footer class="mb-3">
                <a class="btn btn-secondary" href="/campgrounds">Back to All Campgrounds</a>
            </footer>
            <!-- </div>
            </div> -->
        </div>
    </div>